body {
    background-color: aquamarine;
    text-align: center;
    font-family: courier;
}
header {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
}

.headerbox {
    line-height: 1.5;
    text-transform: uppercase;
}

h1 {
    color: chocolate;
}

p {
    color: purple;
}